.nav-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: min(1400px, 95%);
  margin: auto;
  padding-top: 1%;
 
}
.nav-tot-cont{
  background-image: linear-gradient(to right, #eedab5, #e6f8ef, #e6f8ef);
}
.nav-head {
  font-size: 36px;
  font-family: poppins;
  font-weight: 600;
  font-style: normal;
}
.icon-border {
  border: 1.4px solid;
  padding: 7px;
}
.nav-first {
  display: flex;
  gap: 20px;
}
.nav-action-cont {
  gap: 10px;
  display: flex;
  align-items: center;
}
.nav-action-icon {
  display: flex;
  align-items: center;
}
.nav-action {
  display: flex;
  align-items: center;
  gap: 10px;
}
.icon-tot-cont {
  display: flex;
  align-items: center;
}
.nav-action-icon {
  display: flex;
  align-items: center;
  border: 1px solid;
  padding: 7px;
}
.nav-action-icon div {
  display: flex;
  align-items: center;
}

.navigation-cont {
  display: flex;
  align-items: center;
  gap: 16px;
}
